* {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.break {
  margin-top: 20px;
}
.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown a {
  text-decoration: none;
  color: black;
}
.dropdown li ul {
  opacity: 0;
  visibility: hidden;
  transition: ease 200ms;
}
.dropdown > li a:hover + ul {
  opacity: 1;
  visibility: visible;
}
.dropdown > li ul:hover {
  opacity: 1;
  visibility: visible;
}
.dropdown ul {
  list-style: none;
  padding: 0;
}
