.btn-turq {
  padding: 1px 10px 1px 10px;
  color: #FFFFFF;
  border: 1px solid #00D8E3;
  border-radius: 5px;
  outline: none;
  transition: background-color ease 250ms, color ease 250ms;
  text-decoration: none;
}
.btn-turq:not(.btn-ind) {
  background-color: #00D8E3;
}
.btn-turq:not(.disabled):not(.btn-ind):hover {
  background-color: #00a7b0;
}
.btn-turq:not(.disabled):not(.btn-ind):active {
  color: #FFFFFF;
  background-color: #008f96;
}
.btn-green {
  padding: 1px 10px 1px 10px;
  color: #2CE770;
  border: 1px solid #2CE770;
  border-radius: 5px;
  outline: none;
  transition: background-color ease 250ms, color ease 250ms;
  text-decoration: none;
}
.btn-green:not(.btn-ind) {
  background-color: #FFFFFF;
}
.btn-green:not(.disabled):not(.btn-ind):hover {
  color: #FFFFFF;
  background-color: #17c958;
}
.btn-green:not(.disabled):not(.btn-ind):active {
  color: #FFFFFF;
  background-color: #14b24e;
}
.btn {
  padding: 1px 10px 1px 10px;
  color: #fafafa;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
  transition: background-color ease 250ms, color ease 250ms;
  text-decoration: none;
}
.btn:not(.btn-ind) {
  background-color: #aaa;
}
.btn:not(.disabled):not(.btn-ind):hover {
  background-color: #919191;
}
.btn:not(.disabled):not(.btn-ind):active {
  color: #fafafa;
  background-color: #848484;
}
.btn-clear {
  padding: 1px 10px 1px 10px;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
  transition: background-color ease 250ms, color ease 250ms;
  text-decoration: none;
}
.btn-clear:not(.btn-ind) {
  background-color: #fafafa;
}
.btn-clear:not(.disabled):not(.btn-ind):hover {
  color: #fafafa;
  background-color: #919191;
}
.btn-clear:not(.disabled):not(.btn-ind):active {
  color: #fafafa;
  background-color: #848484;
}
.btn-create {
  border-color: #4bc074;
}
.btn-create.btn-clear {
  color: #4bc074;
}
.btn-create:not(.btn-ind):not(.btn-clear) {
  background-color: #4bc074;
}
.btn-create:not(.disabled):not(.btn-ind):hover {
  color: #fafafa;
  background-color: #38a05c;
}
.btn-create:not(.disabled):not(.btn-ind):active {
  color: #fafafa;
  background-color: #318d52;
}
.btn-submit {
  border-color: #4587b9;
}
.btn-submit.btn-clear {
  color: #4587b9;
}
.btn-submit:not(.btn-ind):not(.btn-clear) {
  background-color: #4587b9;
}
.btn-submit:not(.disabled):not(.btn-ind):hover {
  color: #fafafa;
  background-color: #376c94;
}
.btn-submit:not(.disabled):not(.btn-ind):active {
  color: #fafafa;
  background-color: #305e81;
}
.btn-destroy {
  border-color: #b34a41;
}
.btn-destroy.btn-clear {
  color: #b34a41;
}
.btn-destroy:not(.btn-ind):not(.btn-clear) {
  background-color: #b34a41;
}
.btn-destroy:not(.disabled):not(.btn-ind):hover {
  color: #fafafa;
  background-color: #8e3b33;
}
.btn-destroy:not(.disabled):not(.btn-ind):active {
  color: #fafafa;
  background-color: #7b332d;
}
.btn-warn {
  border-color: #daca6e;
}
.btn-warn.btn-clear {
  color: #daca6e;
}
.btn-warn:not(.btn-ind):not(.btn-clear) {
  background-color: #daca6e;
}
.btn-warn:not(.disabled):not(.btn-ind):hover {
  color: #fafafa;
  background-color: #d0bb45;
}
.btn-warn:not(.disabled):not(.btn-ind):active {
  color: #fafafa;
  background-color: #c8b233;
}
.btn-ind {
  color: #2a2a2a;
  background-color: transparent;
}
.btn-group {
  font-size: 0;
}
.btn-group > * {
  margin: 0;
  font-size: initial;
}
.btn-group > *:not(:first-child):not(:last-child) {
  border-right-style: none;
  border-left-style: none;
  border-radius: 0;
}
.btn-group > *:first-child {
  border-right-style: none;
  border-radius: 5px 0 0 5px;
}
.btn-group > *:last-child {
  border-left-style: none;
  border-radius: 0 5px 5px 0;
}
