@import 'palette.less';

.btn-turq {
	.btn-custom(#00D8E3, #FFFFFF);
}

.btn-green {
	.btn-clear-custom(#2CE770, #FFFFFF);
}

// Button CSS Below!
.btn {
	padding: 1px 10px 1px 10px;
	color: @parchment;
	border: 1px solid @lightgrey;
	border-radius: 5px;
	outline: none;
	transition: background-color ease 250ms, color ease 250ms;
	text-decoration: none;
	&:not(.btn-ind) {
		background-color: @lightgrey;
	}
	&:not(.disabled):not(.btn-ind):hover {
		background-color: darken(@lightgrey, 10%);
	}
	&:not(.disabled):not(.btn-ind):active {
		color: @parchment;
		background-color: darken(@lightgrey, 15%);
	}
}

.btn-custom(@color-main, @color-alt) {
	padding: 1px 10px 1px 10px;
	color: @color-alt;
	border: 1px solid @color-main;
	border-radius: 5px;
	outline: none;
	transition: background-color ease 250ms, color ease 250ms;
	text-decoration: none;
	&:not(.btn-ind) {
		background-color: @color-main;
	}
	&:not(.disabled):not(.btn-ind):hover {
		background-color: darken(@color-main, 10%);
	}
	&:not(.disabled):not(.btn-ind):active {
		color: @color-alt;
		background-color: darken(@color-main, 15%);
	}
}

.btn-clear {
	padding: 1px 10px 1px 10px;
	color: @lightgrey;
	border: 1px solid @lightgrey;
	border-radius: 5px;
	outline: none;
	transition: background-color ease 250ms, color ease 250ms;
	text-decoration: none;
	&:not(.btn-ind) {
		background-color: @parchment;
	}
	&:not(.disabled):not(.btn-ind):hover {
		color: @parchment;
		background-color: darken(@lightgrey, 10%);
	}
	&:not(.disabled):not(.btn-ind):active {
		color: @parchment;
		background-color: darken(@lightgrey, 15%);
	}
}

.btn-clear-custom(@color-main, @color-alt) {
	padding: 1px 10px 1px 10px;
	color: @color-main;
	border: 1px solid @color-main;
	border-radius: 5px;
	outline: none;
	transition: background-color ease 250ms, color ease 250ms;
	text-decoration: none;
	&:not(.btn-ind) {
		background-color: @color-alt;
	}
	&:not(.disabled):not(.btn-ind):hover {
		color: @color-alt;
		background-color: darken(@color-main, 10%);
	}
	&:not(.disabled):not(.btn-ind):active {
		color: @color-alt;
		background-color: darken(@color-main, 15%);
	}
}

.btn-create {
	border-color: @create;
	&.btn-clear {
		color: @create;
	}
	&:not(.btn-ind):not(.btn-clear) {
		background-color: @create;
	}
	&:not(.disabled):not(.btn-ind):hover {
		color: @parchment;
		background-color: darken(@create, 10%);
	}
	&:not(.disabled):not(.btn-ind):active {
		color: @parchment;
		background-color: darken(@create, 15%);
	}
}

.btn-submit {
	border-color: @submit;
	&.btn-clear {
		color: @submit;
	}
	&:not(.btn-ind):not(.btn-clear) {
		background-color: @submit;
	}
	&:not(.disabled):not(.btn-ind):hover {
		color: @parchment;
		background-color: darken(@submit, 10%);
	}
	&:not(.disabled):not(.btn-ind):active {
		color: @parchment;
		background-color: darken(@submit, 15%);
	}
}

.btn-destroy {
	border-color: @destroy;
	&.btn-clear {
		color: @destroy;
	}
	&:not(.btn-ind):not(.btn-clear) {
		background-color: @destroy;
	}
	&:not(.disabled):not(.btn-ind):hover {
		color: @parchment;
		background-color: darken(@destroy, 10%);
	}
	&:not(.disabled):not(.btn-ind):active {
		color: @parchment;
		background-color: darken(@destroy, 15%);
	}
}

.btn-warn {
	border-color: @warn;
	&.btn-clear {
		color: @warn;
	}
	&:not(.btn-ind):not(.btn-clear) {
		background-color: @warn;
	}
	&:not(.disabled):not(.btn-ind):hover {
		color: @parchment;
		background-color: darken(@warn, 10%);
	}
	&:not(.disabled):not(.btn-ind):active {
		color: @parchment;
		background-color: darken(@warn, 15%);
	}
}

// Indicators, meant to contain dynamic text that changes based on button presses from surrounding btn's. These really only make sense within btn-groups.
.btn-ind {
	color: @charcoal;
	background-color: transparent;
}

// These are groups of btn elements listed side by side with no spacing. Borders connect on the tops and bottoms and the only curves are on the outermost corners of the group.
.btn-group {
	font-size: 0;
	> * {
		margin: 0;
		font-size: initial;
	}
	> *:not(:first-child):not(:last-child) {
		border-right-style: none;
		border-left-style: none;
		border-radius: 0;
	}
	> *:first-child {
		border-right-style: none;
		border-radius: 5px 0 0 5px;
	}
	> *:last-child {
		border-left-style: none;
		border-radius: 0 5px 5px 0;
	}
}